@tailwind base;
@tailwind components;
@tailwind utilities;

.mockup {
  width: 390px;
  height: 670px;
}

.child {
  position: relative;
  overflow: hidden;
}

.ui {
  position: absolute;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

@media only screen and (max-width: 480px) {
  .perent {
    visibility: hidden;
  }

  .child {
    visibility: visible;
    position: fixed;
  }
  .mockup {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .ui {
    display: none;
  }
}
